<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Thiago Bustamante</h2>
            <h4>thiago.bustamante98@gmail.com</h4>
        </div>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGkwOTO969z5w/profile-displayphoto-shrink_200_200/0?e=1595462400&v=beta&t=WP0Vl5cCz1Fp9B4jvqswZGKCVt34E1FqMD0eK4iqTaA" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Funcionários</a>

    <mat-divider></mat-divider>
</mat-nav-list>